.outerScreen {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
}

.screenBorder {
  position: absolute;
  /* Will be updated at a later time through ngStyle hooks */
  width: 1024px;
  height: 720px;
  top: 0px;
  left: 0px;
  background: black;
}
